<!-- / user profile inside a height for image
    
    create a object for headertitle in json
    AMOUNTFILED Should be use input for biller and sender as read only
    use dollar symbol $ prefix

    use mixin colour in style.scss
    2,4,8 mutlipe num
    firefox 
    


 -->

<app-header [data]="literals.headerAmountTitle"></app-header>
<div class="navbar" *ngIf="literals">
    <div class="user-details">
        <img class="user-profile" [src]="getImage()" alt="" height="50"> 
        <h4>{{bill?.recipient}} {{getAccountNo()}}</h4>
        <h5 class="text text-center">{{bill?.enrolledAs}}</h5>
        <h5 class="user-number">{{getMobile()}}</h5>
    </div>
    <hr class="line-break">
    <h6 [ngClass]="paymentMode=== paymentType.BILLER  ? 'amount' : 'amount amount-padding'">
        <ng-container *ngIf="paymentMode===paymentType.BILLER ">
            <h6 class="title">{{literals.headerAmountTitle}}</h6> 
            <p>{{literals.amountSubTitle}}</p>
        </ng-container>
        <h4  *ngIf="paymentMode !== paymentType.BILLER">{{literals.amountPayButton}}</h4>
        <h1 class="amount-input">
            <span>$</span>
            <input *ngIf="paymentMode !== paymentType.BILLER" class="input-outline" type="number"
                [(ngModel)]="bill.amount" placeholder="{{literals.inputPlaceHolder}}" />
            <span *ngIf="paymentMode === paymentType.BILLER">{{bill?.amount}}</span>
        </h1>
    </h6>
</div>
<ng-container *ngIf="paymentMode===paymentType.BILLER">
    <hr class="line-break">
    <div class="due navbar">
        <div>
            <h6 class="account-type">{{literals.due}} </h6>
            <h6 class="date">{{bill?.dueDate | dateFormat}}</h6>
        </div>
        <hr class="line-break">
        <div class="account">
            <h6 class="account-type">{{literals.account}}</h6>
            <h6 class="account-number">{{getAccountNo()}}</h6>
        </div>
    </div>
    <hr>
    <p class="view">{{literals.viewStatement}}</p>
    <p class="click">{{literals.selectionMethod}}</p>
</ng-container>
<div class="text text-center">
    <p360-button [type]="buttonType.SUBMIT" *ngIf="paymentMode === paymentType.BILLER" [data]="literals.makeaPayment"
        (click)="onSubmit(route.MAKEAPAYMENT)"></p360-button>
    <p360-button [type]="buttonType.SUBMIT" *ngIf="paymentMode !== paymentType.BILLER" [data]="literals.makePayButton"
        (click)="onSubmit(route.MAKEAPAYMENT)"></p360-button>
</div>
<div class="text text-center">
    <p360-button [type]="buttonType.CANCEL" [data]="literals.back" (click)="onSubmit(route.HOME)"></p360-button>
</div>