@import '../../styles.scss';


// .container {
//   margin: auto;
// }

.picture {
  @include important-style;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.account-mobile {
  float: right;
  font-size: 20px;
  margin-top: 4px;
}
.mobile{
  align-items: center;
  justify-content: center;
  display: flex;
  color: gray;
  font-size: smaller;
}
.amount{
  font-weight: bold;
}

@media (min-width:769px) and (max-width:2500px) {
  .image {
    width: 50px;
    border-radius: 100px;
    display: flex;
  }

  .navbar-brand {
    border-radius: 100px;
  }

  .title {
    display: none;
  }

}

@media (min-width:150px) and (max-width:768px) {
  
  .navbar {
    display: none;
  }

  .image {
    display: none;
  }
  

}
.logo{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dollar{
  padding-bottom: 70px;
  font-size: 55px;
  display: flex;
  justify-content: center;
  text-align: center;

  input {
    width: 130px;
    height: 70px;
    border: none;
    background-color: #d1dee6;
  }
  input::placeholder {
    font-size: 12px;
}
}


.screen{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
    align-items: center;
}
h1{
    @include child-container; 
}
styles{
float:right;font-size:20px;margin-top:4px;
}
img {
    @include important-part;
    height: "40";
}

h5 {
    text-align: center;
}

.phoneno {
    text-align: center;

}

.accountno {
    text-align: left;
    padding: 5px;
    color: grey;
    // font-size: small;
}


.date{
    text-align: left;
    padding: 4px;
   
   
    

}
.accountnum{
    text-align: left;
   
    
}

h4 {
    text-align: center;


}

h6 {
    text-align: center;
}

p {
  
    text-align: center;
    color: blue
}

.click {
    text-align: center;
    color: grey;
   
}
.view{
    padding: 20px;
}
.makebtn{
    
    border-radius: inherit;
    @include  parent-container
}
.paybtn {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;

    @include parent-container;

}

.inputpay {
    border: none;
    margin: auto;
    display: block;
    background-color: #EBF1F6;
    margin-bottom: 50px;
    padding: 20px;
    max-width:200px ;


}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}


.name {
    text-align: center;
    color: black;

}

.due {
    display: flex;
    justify-content: space-between;
}

.inputpay {
    padding: 12px 12px 12px 12px;
    background-color: #d1dee6;
    text-align: center;
    line-height: 30px;
}

.btn-tom {

    border-radius: 8px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 22px;
}


