@import '../../styles.scss';

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  @include important-part;
  height: "40";
}

.mobile {
  align-items: center;
  justify-content: center;
  display: flex;
  color: gray;
}

.amount {
  font-weight: bold;
}

.amount-padding {
  padding: 48px 0px;
}

.dollar {
  padding-bottom: 70px;
  font-size: 55px;
  display: flex;
  justify-content: center;
  text-align: center;

  input {
    width: 130px;
    height: 70px;
    border: none;
    background-color: #d1dee6;
    text-align: center;
  }

  input::placeholder {
    font-size: 12px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

.input-outline:focus {
  outline: none;
}
.box{
  padding-left: 70px;
}

.due {
  align-items: flex-start;
}

.accountno {
  text-align: left;
  padding: 5px;
  color: grey;
  margin-bottom: 0px;
}

.accountnum {
  padding: 4px;
}

.click {
  text-align: center;
  color: grey;
}

.view {
  padding: 20px;
}

.date {
  text-align: left;
  padding: 4px;
}

h1 {
  @include child-container;
}

h5 {
  text-align: center;
}

h4 {
  text-align: center;
}

h6 {
  text-align: center;
}

p {
  text-align: center;
  color: blue
}

@media (min-width:320px) and (max-width:570px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .due {
    align-items: flex-start;
  }

  .width {
    width: 100% !important;
  }

  .accountnum {
    text-align: left;
  }
}

@media (min-width:769px) and (max-width:2500px) {
  .image {
    width: 50px;
    border-radius: 100px;
    display: flex;
  }

  .account {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}