
<app-header [data]="'Amount to Pay'"></app-header>
<div class="title">
    <img class="picture" src="{{data.imagePath}}" width="50">
    <h6 class="text text-center">AT&T{{data.Paymentmode}} {{data.account}}</h6>
    <h6 class="mobile text">{{data.mobile}}</h6>
    <hr>
        <h6 class="amount">Amount due <br>
            <p> Imported from Statement</p>
                 
                 
 <h1 class="dollar ">$
	<input *ngIf="paymentMode !== 'biller'" type="number" [(ngModel)]="data.amount" placeholder="Enter an amount to pay"/> 
	<span *ngIf="paymentMode === 'biller'">{{data.amount}}</span>
 </h1>

        </h6>
    
    
</div>


<div class="navbar">
    <div class="container">
        <div class="logo">
            <img class="image" src="{{data.imagePath}}" alt="" height="50">
            <h6>AT&T {{data.account}}</h6>
            <h3 class="account-mobile text">{{data.mobile}}</h3>
        </div>
        <div>
            <h6 class="amount">Amount due <br>
                <p> Imported from Statement</p>
                     <!-- <h1 class="dollar">${{data.amount}}</h1> -->
                     <h1 class="dollar "><span>$</span>
                        <input *ngIf="paymentMode !== 'biller'" type="number" [(ngModel)]="data.amount" placeholder="Enter an amount to pay"/> 
                        <span *ngIf="paymentMode === 'biller'">{{data.amount}}</span>
                     </h1>
            </h6>
        </div>
        
    </div>
</div>



<div>
    <div>
       
        <hr>
        <div class="due">
            <div>
                <h6 class="accountno">Due date </h6>              
                <h6 class="date">{{myDate}}</h6>
            </div>
            <button type="button" class="btn btn-danger btn-tom">Tomorrow</button>
        </div>
        <hr>
        <h6 class="accountno"> Account number</h6>
        <h6 class="accountnum">{{data.account}}</h6>
        <hr>
        <p class="view">view current statement</p>

        <p class="click">click to start selection for payment method</p>


        <button [routerLink]="['/makeapayment']" class="makebtn  btn btn-lg" >Make a Payment</button>
    </div>
</div>