@import '../../styles.scss';

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture {
  @include important-part;
  height: "40px";
}

.user-number{
  align-items: center;
  justify-content: center;
  display: flex;
  @include color-container;

}

.amount {
  font-weight: bold;
}

.amount-padding {
  padding: 48px 0px;
}

.amount-input {
  padding-bottom: 68px;
  font-size: 54px;
  display: flex;
  justify-content: center;
  text-align: center;

  input {
    width: 132px;
    height: 68px;
    border: none;
    text-align: center;
    @include color;
  }

  input::placeholder {
    font-size: 12px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
// input[type=number] {
//   appearance: textfield;
// }

.input-outline:focus {
  outline: none;
}

.box {
  padding-left: 68px;
}

.due {
  align-items: flex-start;
}

.account-type {
  text-align: left;
  padding: 4px;
  margin-bottom: 0px;
  @include color-container;
}

.account-number{
  padding: 4px;
}

.click {
  text-align: center;
  padding: 24px;
  @include color-container;
}
.subtitle{
  @include special-text;
}


.view {
  padding: 20px;
}

.date {
  text-align: left;
  padding: 4px;
}

h1 {
  @include child-container;
}

h5 {
  text-align: center;
}

h4 {
  text-align: center;
}

.title {
  text-align: center;
}

.view {
  text-align: center;
  @include special-text;
}

@media (min-width:320px) and (max-width:570px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .due {
    align-items: flex-start;
  }

  .line-break{
    width: 100%;
  }

  .accountnum {
    text-align: left;
  }
}
.user-profile {
  border-radius: 100px;
  height:50px;
}

@media (min-width:769px) and (max-width:2500px) {
  .user-profile {
    width: 50px;
    display: flex;
  }

  .account {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}

