@import '../../../styles.scss';

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  @include child-container;
}

.image-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 8px;
}

.image-width {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  margin: 0px 8px;
}

.dollar {
  @include margin-bottom;
  padding: 60px 30px 30px 30px;
  font-weight: 600px;
  text-align: center;
  padding: 4px;
  margin-top: 48px;
  margin-bottom: 68px;
  font-size: 54px;
}

.amountType {
  font-size: smaller;
  @include text-decoration;
}

.accountNumber {
  font-size: smaller;
  @include color-container;
}

.name {
  @include color-container;
  font-size: smaller;
  padding: 4px;
  margin: 0px;
}

.text {
  @include text-decoration;
}

.accounttype {
  padding: 8px 0px;
  margin: 0;
  font-weight: bold;
}

.btncontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}