@import '../../styles.scss';
.container-content {
    position: relative;
    padding-top: 400px;
    padding-bottom: 100px;
    width: 300px;
    margin: auto;
}
.otp-screen {
    .verify-number{
        font-size: larger;
        font-weight: bolder;
    }
    top: 0; 
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color:#d1dee6;
    .security-code {
        p {
            margin-bottom: 10px;
            text-align: center;
            font-weight: 500;
        }
    }
    .mobile-number{
        font-weight: 600;
        font-weight: bold
    }
    .otp-box {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
        .form-input {
            input {
                width: 100%;
                outline: none;
                padding: 5px 10px;
                background-color: #d1dee6;
                border: 2px solid #cbcbcc;
                text-align: center;
                border-right:  #544b4b;
                border-left:  #544b4b;
                border-top:  #544b4b;
            }
            .otp-input{
                font-size: 50px;
            }
            .otp-resend{
                text-decoration: none;
            }       
        }
    }
}
.btn-verify{
   @include button-verify-pay;
}
.btn-cancel {
    @include button-cancel;
}
.cancel{
    font-weight: 600;
    text-decoration: none;
}

@media (min-width:480px) and (max-width:1281px){
   .otp-screen{
    justify-content: center;
   }
 
}

