@import '../../styles.scss';

.container{
    padding-top: 50px;
}
.number{
   color: #000;
   font-weight: 600;
}
.number-1{
    color: #000;
    font-weight: 600;
 }
a{
    text-decoration: none;
    color:#29479e;
    &:hover,
    &.active{
        color: #899cc9;
    }
}

.otp{
    .otp-input{
        width: 35%;
        font-size: 50px;
        font-weight: 100;
        text-align: center;
        outline: none;
        background-color: #d1dee6;
        border: 2px solid #cbcbcc;
        border-right: #544b4b;
        border-left: #544b4b;
        border-top: #544b4b;
    }
}
.hyperlink{
    display: contents;
    justify-content: space-evenly;   
}

@media (min-width:320px) and (max-width:700px){
    .hyperlink{
        display: contents;
        margin-bottom: 20%;
    }
    .otp{
        .otp-input{
            width: 70%;      
        }
    }
}

@media (min-width:150px) and (max-width:410px){
    .number{
        display: none;
    }
}
@media (min-width:411px) and (max-width:1281px){
    .number-1{
        display: none;
    }
}
