<app-header [data]="'OTP'"></app-header>

<div class="container">
    <h3 class="text text-center mb-3 ">Verify number</h3>
    <h6 class="text text-center">We sent a one-time security code to <span class="number">{{data.mobile}}</span></h6>
    <h6 class="number-1 text text-center mb-3">{{data.mobile}}</h6>
    <h6 class="text text-center">Please Enter the code below</h6>
    <div class="otp text text-center mb-3">
        <input class="otp-input mb-2" type="text" autocomplete="off" value="{{data.otp}}" />
    </div>
    
    <div class="hyperlink mb-1">
        <h6 class="text text-center"><a class="otp-resend" href="#">Re-send via text</a></h6>
        <h6 class="text text-center"><a class="otp-resend" href="#">Re-send via phone call</a></h6>
    </div>
    <div class="text text-center">
        <app-btndone [routerLink]="['/confirmation']" [data]="'Verify'"></app-btndone>
    </div>
    
    <div class="text text-center">
        <app-btncancel [routerLink]="['/home']" [data]="'Cancel'"></app-btncancel>
    </div>
</div>