<div class="title">
    <img class="picture" src="{{data.imagePath}}" width="50">
    <h6 class="text text-center">{{data.Paymentmode}} &nbsp;{{data.account}}</h6>
</div>
<div class="navbar">
    <div class="container">
        <div>
            <img class="image" src="{{data.imagePath}}" alt="" height="50">
            <h6><span>AT&T</span><br>{{data.account}}</h6>
        </div>
        <h3 class="account text text-center">Make a Payment</h3>
        <h3 class="account-mobile text">{{data.mobile}}</h3>
    </div>
</div>
<hr>
<h3 class="title text-center">Make a Payment</h3>