<app-header [data]="literals.otp"></app-header>

<div class="container">

    <h3 class="text text-center mb-3 ">{{literals.verify}}</h3>
    <h6 class="text text-center">{{literals.securityCode}} <span class="number">{{mobile}}</span></h6>
    <h6 class="text text-center">{{literals.enterMobile}}</h6>

    <div class="otp text text-center mb-3">
        <input class="otp-input mb-2" type="text" autocomplete="off" placeholder="Enter OTP Here" />
    </div>

    <div class="hyperlink mb-1">
        <h6 class="text text-center"><a class="otp-resend" href="#">{{literals.sms}}</a></h6>
        <h6 class="text text-center"><a class="otp-resend" href="#">{{literals.phoneCall}}</a></h6>
    </div>

    <div class="text text-center">
        <p360-button [type]="'submit'" (click)="onSubmit(route.CONFIRMATION)" [data]="literals.verifyBtn"></p360-button>
    </div>

    <div class="text text-center">
        <p360-button [type]="'cancel'" (click)="onSubmit(route.HOME)" [data]="literals.cancelBtn"></p360-button>
    </div>

</div>