@import '../../styles.scss';

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  @include child-container;
}

.image-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 8px;
}

.image-width {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  margin: 0px 8px;
}

.dollar {
  padding: 60px 30px 30px 30px;
  font-weight: 600px;
  color: #29479e;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 55px;
}

.amountType {
  font-size: smaller;
  color: black;
}

.accountNumber {
  font-size: smaller;
  color: grey;
}

.name {
  font-size: smaller;
  color: grey;
  padding: 3px;
  margin: 0px;
}

.text {
  color: black;
}

.accounttype {
  padding: 8px 0px;
  margin: 0;
  font-weight: bold;
}

.accountType {
  font-weight: bold;
}

.btncontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}