<app-header [data]="'Confirmation'"></app-header>
<div>


    <img class="image" src="https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/254000/39-512.png"
        width="50" height="50">
    <h1 class="text text-center ">Payment Sent</h1>
    <h1 class="dollar">${{data.amount}}</h1>


    <div class="bg-light image-container">
        <div class="image-width">
            <img src="https://media.istockphoto.com/id/934869826/vector/bank-building-circle-icon-with-long-shadow-flat-design-style.jpg?s=1024x1024&w=is&k=20&c=KmFEztS-dWG60zKP4UhNC_m5UhNk4VqQReB_KPKxl9Y="
                width="55px" height="55px">
        </div>        
        
        <div>
            <h6 class="name">{{data.name}}</h6>
            <h6 class="accountType">{{data.accountType}}</h6>
        </div>

    </div>

    <div class="bg-light image-container">
        <div class="image-width">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFvNAnXOYNE1JQ9trMZDjCmRO9RR7OQoomKlDhsnr0_bkXir1FO707_WfFf1LdijHCGPc&usqp=CAU"
            alt="" width="45px" height=" 45px">
        </div>
        <div>
            <h6 class="accounttype">{{data.recipient}}</h6>
            <h6 class="accountNumber">{{data.accountNumber}}</h6>
        </div>
    </div>

    <hr>
    <nav class="navbar ">
        <div class="container sticky-top">
            <div>
                <h5 class="text">Arrives</h5>
                <h6><span>{{myDate}}</span></h6>
            </div>
           

            
            <div class="text-end">
                <h5 class="text">Confirmation</h5>
                <h6>{{data.number}}</h6>
            </div>
        </div>
    </nav>

    <div>
        <app-btndone [data]="'Done'" [routerLink]="['/home']"></app-btndone>
        <app-btncancel [data]="'Cancel'" [routerLink]="['/otpscreen']"></app-btncancel>
    </div>

</div>
