@import '../../styles.scss';

.container{
  padding: 6px 6px 6px 6px;   
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.amount{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #d1dee6;
  width:400px; height:200px;
 
}
.dollar{
  padding: 60px 30px 30px 30px;
  font-weight:600px;
  color: blue;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.card{
  padding: 10px 10px 10px 10px;
  padding: 30px;
}
.confirm{
  font-weight: 400;
}
.done{
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #29479e;
  margin-bottom: 15px;
  border-radius: 1px;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s linear;
  &:hover,
  &.active{
      background-color:#899cc9 ;
  }box-shadow: none;
  border: none;
}
.cancel{
  width: 100%;
  background-color:#d1dee6 ;
  margin-bottom: 15px;
  border-radius: 1px;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s linear;
  &:hover,
  &.active{
      background-color:#edf2f5;
  }
  border: none;
}
.amountType{
  font-size: smaller;
  color: black;

}
.accountNumber,.name{
  font-size: smaller;
  color: grey
}
h1{
  @include child-container; 
}
.confirm{
  font-size: smaller;
}
.text{
  color: black;
}

























// .container {
//     margin: auto;
//   }
  
//   .picture {
//     @include important-style;
//     border-radius: 50px;
//     width: 50px;
//     height: 50px;
//     margin-bottom: 0;
//   }
//   .account-mobile {
//     float: right;
//     font-size: 20px;
//     margin-top: 4px;
//   }  



//   @media (min-width:769px) and (max-width:1281px) {
//     .image {
//       width: 40px;
//       border-radius: 100px;
//       display: flex;
//     }
  
//     .navbar-brand {
//       border-radius: 100px;
//     }
  
//     .title {
//       display: none;
//     }
  
//     #otp {
//       width: 42%;
//     }
  
//     .make {
//       display: none;
//     }
  
  
//   }
  
//   @media (min-width:150px) and (max-width:768px) {
  
//     .navbar {
//       display: none;
//     }
  
//     .image {
//       display: none;
//     }
  
//     .form {
//       @include important-style;
//       width: auto;
//     }
























// .container{
//     padding: 6px 6px 6px 6px;   
// }
// .image{
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }
// .amount{
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: #d1dee6;
//     width:400px; height:200px;
// }
// .dollar{
//     padding: 60px 30px 30px 30px;
//     font-weight:600px;
//     color: blue;
// }
// .card{
//     padding: 10px 10px 10px 10px;
// }
// .confirm{
//     font-weight: 400;
// }
// .done{
//     width: 100%;
//     color: rgb(255, 255, 255);
//     background-color: #29479e;
//     margin-bottom: 15px;
//     border-radius: 1px;
//     cursor: pointer;
//     box-shadow: none;
//     transition: all 0.2s linear;
//     &:hover,
//     &.active{
//         background-color:#899cc9 ;
//     }box-shadow: none;
//     border: none;
// }
// .cancel{
//     width: 100%;
//     background-color:#d1dee6 ;
//     margin-bottom: 15px;
//     border-radius: 1px;
//     cursor: pointer;
//     box-shadow: none;
//     transition: all 0.2s linear;
//     &:hover,
//     &.active{
//         background-color:#edf2f5;
//     }
//     border: none;
// }
// .amounttype{
//     font-size: 25px;
// }
// .accountNumber,.name{
//     font-size: smaller;
// }




// .ng-valid[required], .ng-valid.required  {
//     font-size: 16px;
//     text-align: center;
//     text-decoration: none;
//     border-left: 10px solid rgb(218, 200, 43); /* yellow */
// }

// .ng-invalid:not(form)  {
//     font-size: 16px;
//     text-align: center;
//     text-decoration: none;
//     border-left: 10px solid #e94646; /* red */
// }

// .backdrop {
//     background-color:rgba(0,0,0,0.6);
//     position:fixed;
//     top:0;
//     left:0;
//     width:100%;
//     height:100vh;
// }



// .header{
//     height: 140px;
//     width: 140px;
//     border-radius: 100%;
// }

// #cancel{
// @include button-cancel
// }

// .modal-footer{
//     align-items: flex-end;
//     justify-content: flex-end; 
// }

// btn{

//     margin-bottom: 15px;
//     border-radius: 1px;
//     cursor: pointer;
//     box-shadow: none;
//     transition: all 0.2s linear;
//     &:hover,
//     &.active{
//         background-color:#1c44a2 ;
//     }
// }}