@import '../../styles.scss';

.picture {
  @include important-style;
  border-radius: 50px;
  width: 50px;
  height: 50px;

}

.mobile {
  align-items: center;
  justify-content: center;
  display: flex;
  color: gray;
  font-size: smaller;
}

.rows {
  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: bold;
}

.dollar {
  background-color: white;
  border: 1px solid grey;
  border-radius: 1px;
  border-right: none;
  padding-right: 2px;
}

.link {
  text-decoration: none;

  a {
    color: #29479e;
  }
}

.rows1 {
  display: flex;
  justify-content: space-between;
}

.radio {
  display: flex;
  justify-content: center;
}

.form-check-input {
  margin-right: 4px;
}

input[type=number],
select,
textarea,
.form-control,
.form-select {
  border: 1px solid grey;
  box-shadow: none;
  border-radius: 1px;
}

input[type=date] {
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 1px;
}

.modal-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.header {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold {
  text-decoration: black;
  font-weight: bold;
}

.modal-footer {
  display: flex;
  flex-wrap: nowrap;
}

@media (min-width:150px) and (max-width:575px) {
  .rows {
    flex-direction: column;
  }

  .rows1 {
    flex-direction: column;
  }

  .form {
    width: 100%;
  }

  .select {
    margin: 20px 20px 20px 20px;
  }
}

.dropdown {
  width: 100%;
    height: 40px;
}
::ng-deep .cdk-overlay-pane {
  background-color: whitesmoke;
  width: 30%;
  display: flex;
  flex-direction: column;
}
::ng-deep .cdk-overlay-container {
  width: 100%;
}
.list-container {
  display: flex;
justify-content: space-between;
}
.border-bottom{
  border-bottom: 1px solid gray;
}
.cross-button {
  font-size:16px;
  border: none;
}
.list {
  li {
    border-bottom: 1px solid gray;
    padding: 8px;
  }

  li:last-child { border-bottom: none; }
  li.selected {
    background-color:red;
   }
  list-style-type:none;
  width: 100%;
    padding: 8px;
    
    .margin-bottom {
      margin-bottom: 8px;

    }
}