<div>
    <!-----------Header--------------->
    <app-header [data]="literals.makeaPayment"></app-header>

    <!--------Account Details--------->
    <div class="title">
        <img class="picture" src="{{userLogo}}" width="50">
        <h6 class="text text-center">{{accountDetails.recipientName}} {{accountDetails.accountNumber}}</h6>
        <h5 class="text text-center">{{accountDetails.enroller}}</h5>
        <h6 class="mobile text">{{mobile}}</h6>
    </div>
    <hr class="mb-1"/>

    <!------------Zelle--------------->
    <div class="text text-center">
        <img src="{{literals.imagePath}}" width="70">
    </div>

    <!------------Input-1--------------->

    <div class="rows">

        <!------------Amount--------------->
        <div class="form mb-3 col-sm-5 col-md-5 col-lg-5">
            <label for="amount" class="label form-label">{{literals.amount}}</label>
            <div class="col-auto ">
                <div class="input-group mb-1">

                    <div *ngIf="paymentMode=='biller';" class="form-control" contenteditable="false">{{amount}}</div>
                    <input *ngIf="paymentMode!=='biller';" type="text" class="form-control" id="amount"
                        placeholder="Enter Amount" autocomplete="off" value="{{amount}}" />
                </div>
            </div>
        </div>
        <!------------Dropdown--------------->
        <div class="form mb-3 col-sm-5 col-md-5 col-lg-5">
            <label for="amount" class="label form-label">{{literals.withdrawFrom}}</label>
            <div class="col-auto ">
                <div class="input-group mb-1">
                    <input type="text" class="form-control" id="amount" (click)="isOpen = !isOpen"
                        value="Choose how you'd like to pay" cdkOverlayOrigin #trigger="cdkOverlayOrigin" />
                </div>
            </div>
        </div>
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
            <div>
                <div class="list-container list border-bottom">
                    <div>Choose how you'd like to pay</div>
                    <div>
                        <button class="cross-button" (click)="isOpen = false">&#10005;</button>
                    </div>
                </div>
                <ul class="list">
                    <li>
                        <div class="list-container margin-bottom ">
                            <div><a class="link" href="#"> <small>{{literals.faster}}</small></a></div>
                            <div><small>{{literals.arrivesIn}}</small></div>
                        </div>
                        <div class="list-container">
                            <div>
                                <div>
                                    <div>{{accountDetails.paymentMode}} {{accountDetails.feeDetail}}</div> <small>{{paymentType}} {{accountDetails.cardNumber}}</small>
                                </div>
                            </div>
                            <div> $365.27 available</div>
                        </div>
                    </li>
                    <li>
                        <div class="list-container margin-bottom">
                            <div><small>{{literals.selected}}</small></div>
                            <div><small>{{literals.arrivesMinutes}}</small></div>
                        </div>
                        <div class="list-container">
                            <div>
                                <div>
                                    <div>{{accountDetails.paymentMode}} {{accountDetails.feeDetail}}</div> <small>{{accountDetails.paymentMode}} {{accountDetails.cardNumber}}</small>
                                </div>
                            </div>
                            <div> $4,164.98 available</div>
                        </div>
                    </li>

                </ul>
            </div>
        </ng-template>
    </div>

    <!------------Input-2--------------->
    <div class="rows1">
        <!------------Date--------------->
        <div class="form mb-3 col-sm-5 col-md-5 col-lg-5">
            <label for="dateTimePicker" class="label form-label">{{literals.deliveryBy}}</label>
            <div class="col-auto ">
                <div class="input-group mb-1">
                    <div class="form-control" id="dateTimePicker" contenteditable="false"
                        cdkOverlayOrigin #dateTime="cdkOverlayOrigin">{{selectedDay}}, {{selectedMonth}} {{model.day }}, {{ model.year }}
                        <button id="calenderButton" (click)="isOpenDateTime = !isOpenDateTime"
                            class="calender-icon-button" title="calender"><i class="fa-regular fa-calendar"
                                style="color:rgb(101, 101, 201)"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="dateTime"
            [cdkConnectedOverlayOpen]="isOpenDateTime">
            <div>
                <!-- <button class="cross-button" (click)="isOpenDateTime = false">&#10005;</button> -->
                <ngb-datepicker #dp [(ngModel)]="model" [ngModelOptions]="{standalone: true}" [minDate]="minPickerDate" [maxDate]="maxPickerDate">
                </ngb-datepicker>
            </div>

        </ng-template>
        <!------------Memo--------------->
        <div class="form mb-2 col-sm-5 col-md-5 col-lg-5">
            <label for="memo" class="label mb-2">{{literals.memo}}</label>
            <div class="form-control" contenteditable="true">Reason for...</div>
        </div>
    </div>

    <!------------Radio--------------->
    <div class="radio form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="recurring">
        <label class="label form-check-label" for="recurring">Make Recurring Payment</label>
    </div>

    <!------------Pay Button--------------->
    <div class="text text-center">
        <p360-button [type]="'submit'" [data]="literals.makePayButton" [recipient]="accountDetails.recipientName" [amount]="amount "
            (click)="openPopup()"></p360-button>
    </div>

    <!------------Modal--------------->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img class="header" src="{{userLogo}}" alt="">
                </div>
                <div class="modal-body">
                    <p>{{literals.modalRecipient}} <span class="modal-mobile">{{recipient}}</span></p>
                    <p *ngIf="paymentMode!=='biller';"><span class="modal-mobile">{{mobile}}</span>&nbsp;
                        {{literals.enrolledAs}}</p>
                    <p>{{literals.continue}}</p>
                </div>
                <div class="modal-footer">
                    <p360-button style="width: 50%;display:flex; justify-content: center;" [data]="'Cancel'"
                        [type]="'cancel'" (click)="closePopup()"></p360-button>

                    <p360-button style="width: 50%; display:flex; justify-content: center;" [data]="'Continue'"
                        [type]="'submit'" (click)="onSubmit(route.OTPSCREEN)"></p360-button>
                </div>
            </div>
        </div>
    </div>
    <!------------Back Button--------------->
    <div class="text text-center">
        <p360-button [type]="'cancel'" (click)="onSubmit(route.AMOUNTTOPAY)" [data]="'Back'"></p360-button>
    </div>

</div>