@import '../../styles.scss';



.accountno {
  text-align: center;
}

.form {
  @include important-style;

}

input[type=number],
select,
textarea,
.form-control,
.form-select {
  border: 1px solid rgb(6, 5, 5);
  border-radius: 4px;
  box-shadow: none;
}

input[type=date] {
  border: 1px solid rgb(6, 5, 5);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: none
}



#otp {
  @include button-verify-pay;
}

.link {
  text-decoration: none;
}

a {
  color: #29479e;
}

.label {
  font-weight: bold;
}

@media (min-width:150px) and (max-width:575px) {
  #otp {
    width: 100%;
  }
}

@media (min-width:576px) and (max-width:768px) {
  #otp {
    // width: 40%;
    width: 100%;
  }
}

@media (min-width:769px) and (max-width:1281px) {
 

  #otp {
    width: 50%;
  }

  .make {
    display: none;
  }


}

@media (min-width:150px) and (max-width:768px) {

  // .navbar {
  //   display: none;
  // }

  // .image {
  //   display: none;
  // }

  .form {
    @include important-style;
    width: auto;
  }
}


.header {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

#cancel {
  @include button-cancel
}

.modal-footer {
  align-items: flex;
  justify-content: flex;
}

btn {
  border-radius: 1px;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s linear;

  &:hover,
  &.active {
    background-color: #1c44a2;
  }
}

