@import "~@angular/cdk/overlay-prebuilt";
body {
    background-color: #d1dee6;
    font-family: 'Calibri', 'sans-serif';
}

@mixin important-style {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@mixin child-container {
    text-align: center;
    height: 40px;
}

@mixin parent-container {

    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #29479e;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover,
    &.active {
        background-color: #899cc9;
    }

}

@mixin important-part {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    border-radius: 70px;
}
 @mixin color-container{
    color: gray;
 }
 @mixin color{
    background-color: #d1dee6;
 }
 @mixin special-text{
     color: blue;
 }