.home {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-top: 250px;
    padding-bottom: 100px;
}
.menu{
    padding: 12px;
    width: 190px;
    cursor: pointer;
    transition: .2s linear;
    border-radius: 1px;
    margin-bottom: 14px;
    border: none;
    a{
        color:rgb(0, 0, 0) ;
        text-decoration: none;
    }
}
.menu:hover{
    background-color: transparent;
    border: 2px solid #d1dee6;
    box-shadow: 0 0 5px 0 #818da7 inset,
    0 0 10px 4px #818da7;
    border-radius: 1px;
    a{
        color: rgb(0, 0, 0);
    }  
}

@media (min-width:150px) and (max-width:640px) {
    .home {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        padding-bottom: 100px;
    }
}

  ::ng-deep .cdk-overlay-pane {
    background-color: white;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  ::ng-deep .cdk-overlay-container {
    width: 100%;
  }
  .list-container {
    display: flex;
    justify-content: space-between;
  }
  .border-bottom{
    border-bottom: 3px solid gray;
  }
  .cross-button {
    font-size:16px;
    border: none;
  }
  .list {
    li {
      border-bottom: 3px solid gray;
      padding: 8px;
    }
  
    li:last-child { border-bottom: none; }
    li.selected {
      background-color:red;
     }
    list-style-type:none;
    width: 100%;
      padding: 8px;   
      .margin-bottom {
        margin-bottom: 8px;
      }
  }
  
  .modal-mobile{
    font-weight: bolder;
  }

  .calender-icon-button {
    background:none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 100%;  
    position: absolute;
    right: 9px;;
    bottom: 0px;
    width: 30px;
}